<footer class="footer-rodape">
    <div class="container-rodape">
       <div class="divLogoRodape">
       </div>
       <div class="row-rodape">
          <div class="divTextoInf">
             <p class="textoInf">Para mais informações <br> sobre o nosso projeto, entre em contato <br> no nosso
                Linkedin!</p>
          </div>
          <div class="divContatos">
             <h5 class="textCont">Contatos</h5>
             <ul>
                <p class="contato"><a class="contato"
                      href="https://www.linkedin.com/in/mateus-goulart-a27a671bb/">Mateus Goulart</a>
                </p>
                <p class="contato"><a class="contato"
                      href="https://www.linkedin.com/in/marcio-faria-589064200/">Marcio Junior</a></p>
             </ul>
          </div>
       </div>
    </div>

 </footer>
