<h1>Lista de times cadastrados</h1>

<div *ngIf="TeamList[0]">

    <div>
        
        <table>
            <thead>

                <tr>
                    <th>Classificação:</th>
                    <th>Time:</th>
                    <th>Numero de Votos</th>
                    <th>Vote!!</th>
                </tr>

            </thead>
      
            <tbody>

                <tr *ngFor="let team of TeamList; let i = index"> 
                    <td> {{ i+1 }} </td>
                    <td> {{ team.name }} </td>
                    <td> {{ team.votes }} </td>
                    <td><button (click)="voting(i)">Votar</button></td>          
                </tr>
            </tbody>

        </table>
    </div>
</div>

<div>
    <a [routerLink]="['/']">Voltar à pagina Inicial</a>
</div>

