@import url(https://fonts.googleapis.com/css?family=Roboto:300);

h1 {
    margin-top: 50px ;
    text-align: center;
    font-family: fantasy;
    color: red;
    margin-bottom: 100px;
    font-size: 45px;
}


#descripcion {
    margin-right: 20px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: blue;
    font-size: 20px;

}

.form {

    text-align: center;

}

input:placeholder {
    text-align: center;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #ebeaea;
    width: 20%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

#time {
    margin-top: 10px;
}

#time::placeholder {
    text-align: center;

}